
/**********************************************************************************************

	Title: BlackBoxRecorder DarkTheme
	Author: Hege Røkenes hege@rokenes.com www.hege.rokenes.com
	Date: May 2010

***********************************************************************************************

	1. Global Reset
	2. General Elements
	3. Layout
	4. Layout elements
    5. Global typography
		
***********************************************************************************************
    
    Color Scheme
    BaseGray: #222222
    LighterGray: #2b2b2b
    LightestGray: #767676

***********************************************************************************************/

/* Global Reset
-----------------------------------------------------------------------------------------------
===============================================================================================*/	
@media screen {
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, images, ins, kbd,q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  
	{
	    margin: 0; 
	    padding: 0; 
	    border: 0; 
	    outline: 0; 
	    font-weight: inherit; 
	    font-style: inherit; 
	    font-size: 100%; 
	    font-family: inherit; 
	    vertical-align: baseline;
	    }

	ol, ul {
		list-style: none;
	    }
	
	table {
		border-collapse: separate; 
		border-spacing: 0;
	    }

	caption, th, td {
		text-align: left; 
		font-weight: normal;
	    }

/* Global Declarations
-----------------------------------------------------------------------------------------------
===============================================================================================*/	

pre { background: #000; color: #fff; padding: 15px;}

/* Page Layout
-----------------------------------------------------------------------------------------------
===============================================================================================*/	

body {
    background: url(main_bg.gif) repeat;
    }

#forkMe {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
    }

#mainWrapper {
    background-color: #222222;
    border: 3px solid #2b2b2b;
    width: 954px;
    margin: 20px auto;
    position: relative;
    }
    
    #header, #banner {
        width: 100%;
        }
    
    #header {
        display: table;
        padding: 20px 0;
        }
        
        #siteLogo {
            float: left;
            margin-left: 20px;
            }
        
    #banner {
        clear: both;
        background: url(banner_bg.png) no-repeat top center;
        height: 181px;
        width: 981px;
        position: absolute;
        top: 120px;
        left: -12px;
        }
        
        #bannerInner {
            margin: 20px;
            }
            
            #salesText {
                width: 350px;
                margin: 40px 0 0 40px;
                }
    
    #mainContent {
        margin-top: 181px;
        margin-bottom: 30px;
        padding: 0 10px;
        display: table;
        width: 100%;
        }
        
        .contentColumn {
            float: left;
            width: 264px;
            margin-right: 10px;
            background-color: #2b2b2b;
            height: 300px;
            padding: 20px;
            }
            
            .contentColumn h2 {
                background: url(header_separator.gif) no-repeat bottom center;
                padding-bottom: 10px;
                margin-bottom: 10px;
                }
            
        #lastColumn {
            margin-right: 0;
            background: none;
            }
            
            #contributorList li {
                display: table;
                width: 100%;
                margin-bottom: 10px;
                }
                    
            
            #contributorList a img {
                float: left;
                height: 40px;
                width: 40px;
                border: 3px solid #2b2b2b;
                margin-right: 10px;
                }
                
            #contributorList a.tweet { 
                float: right;
                margin-top: 3px;
                }    
                
                #contributorList a.tweet img {
                    width: 31px;
                    height: 36px;
                    border: none;
                    margin-top: 7px;
                    }
    
    #footer {
        display: table;
        padding: 10px 10px;
        background-color: #2b2b2b;
        width: 100%;
        }
    
    /* Page Navigation
-----------------------------------------------------------------------------------------------
===============================================================================================*/

#navigation {
    display: table;
    float: right;
    margin: 0;
    }

    #navigation li { 
        float: left;
        padding: 20px 30px;
        background: url(menu_seperator.gif) no-repeat left top;
        }
        
        #navigation li a span { 
            display: block;
            clear: both;
            }



