
/**********************************************************************************************

	Title: BlackBoxRecorder DarkTheme
	Author: Hege Røkenes hege@rokenes.com www.hege.rokenes.com
	Date: May 2010

***********************************************************************************************

	1. Global Reset
	2. General Elements
	3. Layout
	4. Layout elements
    5. Global typography
		
***********************************************************************************************
    
    Color Scheme
    BaseGray: #222222
    LighterGray: #2b2b2b
    LightestGray: #767676

***********************************************************************************************/

/* Global Reset
-----------------------------------------------------------------------------------------------
===============================================================================================*/	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, images, ins, kbd,q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  
	{
	    margin: 0; 
	    padding: 0; 
	    border: 0; 
	    outline: 0; 
	    font-weight: inherit; 
	    font-style: inherit; 
	    font-size: 100%; 
	    font-family: inherit; 
	    vertical-align: baseline;
	    }

	ol, ul {
		list-style: none;
	    }
	
	table {
		border-collapse: separate; 
		border-spacing: 0;
	    }

	caption, th, td {
		text-align: left; 
		font-weight: normal;
	    }

/* Global Declarations
-----------------------------------------------------------------------------------------------
===============================================================================================*/	

pre { background: #000; color: #fff; padding: 15px;}

/* Page Layout
-----------------------------------------------------------------------------------------------
===============================================================================================*/	

body {
    background: url(main_bg.gif) repeat;
    }

a:hover {
    text-decoration: underline;
    }


#forkMe {
    position: absolute; 
    top: 0; 
    left: 0; 
    border: 0;
    z-index: 100;
    }
    
    #forkMe img {
        border: none;
        }

#mainWrapper {
    background-color: #222222;
    border: 3px solid #2b2b2b;
    width: 954px;
    margin: 20px auto;
    position: relative;
    }
    
    #header, #banner {
        width: 100%;
        }
    
    #header {
        display: table;
        padding: 30px 0;
        }
        
        #siteLogo {
            float: left;
            margin-left: 20px;
            border: none;
            }
            
            #siteLogo img {
                border: none;
                }
        
    #banner {
        clear: both;
        background: url(banner_bg.png) no-repeat top center;
        height: 181px;
        width: 981px;
        position: absolute;
        top: 140px;
        left: -12px;
        }
        
        #bannerInner {
            margin: 20px;
            display: table;
            width: 95%;
            }
            
            .slideBtnContainer {
                    height: 100px;
                    width: 30px;
                    cursor: pointer;
                    }
                    
                .slideBtnContainer img {
                    border: none;
                    padding: 30px 10px;
                    }
                
                .next {float: right;}
                
                .prev {float: left;}
            
            #salesText {
                width: 520px;
                margin: 5px 0 0 25px;
                float: left;
                }
                
                .content {
                    height: 100px;
                    width: 450px;
                    float: left;
                    overflow: scroll;
                    position: relative;
                    }
                    
                    .gradient {
                        z-index: 100;
                        position: absolute;
                        }
                        
                        #rightGradient {right: 0;}
                
                    ul#slideShow {
                        position: absolute;
                        top: 0;
                        left: 0px;
                        height: 90px;
                        z-index: 1;
                        }
                    
                        #salesText ul#slideShow li { 
                            height: 80px;
                            width: 380px;
                            float: left;
                            text-align: center;
                            padding: 0 35px;
                            } 
                        
             #download {
                 float: right;
                 height: 90px;
                 width: 256px;
                 margin-right: 30px;
                 margin-top: 10px;
                 }
                 
                 #download a {
                     position: relative;
                     display: block;
                     }
                     
                     #download a span#title, #download a span#subTitle, #download a img  {
                         position: absolute;
                         }
                         
                     #download a span#title, #download a span#subTitle {
                         left: 130px;
                         z-index: 100;
                         }    
                     
                     #download a span#title { 
                         top: 40px;
                         }
                         
                     #download a span#subTitle {            
                         top: 55px;
                         }
                  
                     #download img {
                         border: none;
                         z-index: 1;
                         }
    
    #mainContent {
        margin-top: 200px;
        margin-bottom: 30px;
        padding: 0 10px;
        display: table;
        width: 100%;
        }
        
        .contentColumn {
            float: left;
            width: 264px;
            margin-right: 10px;
            background-color: #2b2b2b;
            height: 310px;
            padding: 20px;
            }
            
            .contentColumn h2 {
                background: url(header_separator.gif) no-repeat bottom center;
                padding-bottom: 15px;
                margin-bottom: 15px;
                }
            
        #lastColumn {
            margin-right: 0;
            background: none;
            }
            
            #contributorList li {
                display: table;
                width: 100%;
                margin-bottom: 10px;
                }
                
            #contribute p, #contribute a, #contribute h3 {
                font-size: 9px!important;
                }
                
                #contribute p {
                    line-height: 12px;
                    margin-top: 4px;
                    }
            
            #contributorList a img {
                float: left;
                height: 40px;
                width: 40px;
                border: 3px solid #2b2b2b;
                margin-right: 10px;
                }
                
            #contributorList div.tweet { 
                float: right;
                margin-top: 3px;
                width: 31px;
                position: relative;
                cursor: pointer;
                }   
                
                #contributorList div.tweet img {
                    width: 31px;
                    height: 36px;
                    border: none;
                    margin-top: 7px;
                    }
                    
                .twitter_div {
                    position: absolute;
                    top: 7px;
                    right: 30px;
                    background-color: #0b0b0c;
                    width: 0;
                    overflow: hidden;
                    height: 55px;
                    padding: 0;
                    }
                    
                    .viewLast {
                        width: 250px!important;
                        padding: 5px 10px;
                        display: table;
                        }
    
    #footer {
        padding: 10px 10px;
        background-color: #2b2b2b;
        width: 934px;
        }
    
    /* Page Navigation
-----------------------------------------------------------------------------------------------
===============================================================================================*/

#navigation {
    display: table;
    float: right;
    margin: 15px 0 0 0;
    }

    #navigation li { 
        float: left;
        padding: 5px 30px;
        background: url(menu_seperator.gif) no-repeat left top;
        }
        
        #navigation li a {
            padding: 5px 7px;
            display: block;
            }
        
        #navigation a:hover, #navigation a:active {
            background: url(menu_active.png) no-repeat center!important;
            text-decoration: none;
            }
            
            #navigation a:active .mainTitle, #navigation a:hover .mainTitle {
                color: #fff;
                }
        
        #navigation li a span { 
            display: block;
            clear: both;
            }



