body {
    font-family: Arial, Verdana, Tahoma;
    color: White;
    font-size: 12px;
    line-height: 18px;
    }
    
a {
    text-decoration: none;
    color: #767676;
    }

#navigation li a {
    font-weight: normal;
    }
    
    #navigation li a span.mainTitle { 
        text-transform: uppercase;
        font-size: 18px;
        }    

    #navigation li a span.subTitle { 
        text-transform: lowercase;
        font-size: 11px;
        }  
    
#salesText p {
    font-family: Georgia, Times New Roman, Serif;
    font-style: italic;  
    font-size: 18px;  
    line-height: 24px;     
    }
    
#download a span#title, #download a span#subTitle {
    color: White;
    }

#download a span#title {
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    }
    
#download a span#subTitle {
    font-size: 9px;
    text-transform: lowercase;
    }
    
.contentColumn h2 {  
    text-align: left;
    text-transform: uppercase;
    color: #767676;
    font-size: 18px;
    }
        
#contributorList h3 {
    text-transform: uppercase;
    margin-top: 23px;
    line-height: 0;
    display: table;
    }
        
#contributorList a { 
    font-size: 11px;
    }
    
    .viewLast {
        color: White;
        }